@import url('http://fonts.googleapis.com/css?family=Unlock|Text+Me+One');


body {
  background-color: #000000;
  color: #FFFFFF;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

h1 {
  font-family: 'Text Me One';
  color: #49fb35;
  text-shadow: 2px 2px 7px;
}

.nav {
  display: inline;
  padding: 10px;
}

a {
  color: lightblue;
}

.body-center {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-bar {
  padding: 10px;
  text-align: center;
  width: 20%;
  height: 190px;
  margin-top: 40px;
  border-style: solid;
  border-color: #FFFFFF;
}

hr {
  border-style: dashed;
  border-width: 5px;
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
}

#userstories {
  margin-right: 200px;
}

form {
  padding: 5px;
}

.bottom-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
