@import url('http://fonts.googleapis.com/css?family=Unlock|Text+Me+One');


body {
  background-color: #000000;
  color: #FFFFFF;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

h1 {
  font-family: 'Text Me One';
  color: #49fb35;
  text-shadow: 2px 2px 7px;
}

hr {
  border-style: dashed;
  border-width: 5px;
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
}

#userstories {
  margin-left: 5%;
}

form {
  padding: 5px;
}

.bottom-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
